body {
    background: white;
}

.navcustom {
    background: white;
}

.navbar-brand {
    padding: 10px !important;
}

.navlogo {
    height: 60px;
    margin-left: 30px;
}

.menu-list {
    margin-left: 30px;
}

.navend {
    margin-right: 52px;
}

.nav-icon {
    margin-right: 8px;
}

.bg-dark {
    border-bottom: 3px solid #7f181b;
}

@media only screen and (max-width: 1200px) {}

.map-section {
    width: 73rem;
    height: 90.1%;
    margin-left: 90px;
    position: fixed;
}

.inputsearch-btn {
    background: gray;
}

.center-content {
    position: absolute;
    padding-left: 348px;
    padding-right: 564px;
    margin-top: 16px;
    z-index: 3;
    justify-content: center;
}

.lsidebar {
    position: fixed;
    opacity: 0.8;
    width: 78px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
}

.sidebar-item {
    color: black;
    padding: 8px;
}

.sidebar-icon {
    padding-right: 1.3rem;
}

.sidebar-link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.side-list {
    padding-left: 0.2rem;
    text-align: center;
}

.sicon-text {
    text-align: center;
    font-size: 13px;
}


/* Right side bar */

.rsidebar {
    position: fixed;
    opacity: 0.8;
    width: 18.125rem;
    height: 100%;
    right: 0;
    background: black;
    color: #fff;
}

.rlist {
    padding: 10px;
}

.rsidebar-title {
    margin-top: 28px;
    margin-left: 14px;
}

.rsidetitle-text {
    text-align: center;
    font-size: large;
}

.p-icon {
    padding-left: 8px;
    color: white;
}

.rside-icon {
    margin-top: 11px;
}

.nextbtn {
    bottom: 0;
    position: fixed;
    background: green;
    border: 1px solid black;
    color: white;
    padding: 23px 89px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    width: 295px;
}

a:link {
    text-decoration: none;
}