body{
    background: white;
}


.navcustom{
     background: white;
}

.navbar-brand{
    padding: 10px !important;
}


.navbar-logo{

    height: 59 !important;
    margin-left: 37px !important;
}

.map-section{
    width: 75%;
    height: 91.2%;
    margin-left: 90px;
    position: fixed;
    
}

.inputsearch-btn{
    background: gray;
}

.center-content{
    position: absolute;
    padding-left: 376px;
    padding-right: 580px;
    margin-top: 16px;
    z-index: 3;
    justify-content: center;
    

}

.lsidebar{
    position: fixed;
    opacity: 0.8;
  width: 90px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: black;
  font-weight: bold;

}

.sidebar-item{
    color: black;
    padding: 8px;

}

.sidebar-icon{
    padding: 0.1rem;
}

.sidebar-link{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.side-list{
    margin-top: 27px !important;
    margin-left: 10px !important;
}



/* Right side bar */
.rsidebar{
    position: fixed;
    opacity: 0.8;
    width: 294px;
    height: 100%;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
    color: #fff;
}

.rlist{
    padding: 10px;
}


.rsidebar-title{
    margin-top: 28px;
    margin-left: 14px;
}

.p-icon{
    padding-left: 8px;
}

.rside-icon{
    margin-top:11px;
}

.nextbtn{
    bottom: 0;
    position: fixed;
    background: green;
    border: 1px solid black;
    color: white;
    padding: 23px 89px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    width: 295px;
}


